@page "/logging"
@inherits Controller.LoggingController

<PageTitle>Topo / Logging</PageTitle>
<EditForm Model="@loggingPageViewModel">
    <div class="mt-3 mb-3 row">
        <h2>Logging</h2>
    </div>

    <p>
        Use this page to start capturing logging information to help in solving issues.
    </p>
    <p>
        To capture logs to assist in solving an issue click on the <strong>Start Logging</strong> button. <br />
        Navigate to the relevant area and run the report that has the issue. Once complete return back to this page. <br />
        Click on the <strong>Stop Logging</strong> button to stop the logging process. <br />
        Click on the <strong>Download Log</strong> button to download the log file. <br />
        Email the file to the address you have been given.
    </p>
    <p>
    </p>
    <div class="mt-3 mb-3 row">
        <div class="col-sm">
            <button type="submit" name="button" @onclick="StartLoggingClick" class="btn btn-success" disabled="@(!loggingPageViewModel.StartLogging)">Start Logging</button>
            <button type="submit" name="button" @onclick="StopLoggingClick" class="btn btn-danger" disabled="@(loggingPageViewModel.StartLogging)">Stop Logging</button>
            <button type="submit" name="button" @onclick="DownloadLogClick" class="btn btn-primary" disabled="@(!loggingPageViewModel.DownloadLog)">Download Log</button>
        </div>
    </div>

</EditForm>