@page "/login"
@inherits Controller.LoginController

<PageTitle>Topo / Login</PageTitle>

<EditForm Model="@model">

    <div class="mt-3 mb-3 row">
        <h2>Login</h2>
    </div>

    <div class="form-group mb-3 row">
        <label for="branch" class="col-sm-2 col-form-label">
            Branch
        </label>
        <div class="col-sm-4">
            <InputSelect id="branch" class="form-select" @bind-Value="model.Branch">
                @foreach (var branch in model.Branches)
                {
                    <option value="@branch.Value">@branch.Key</option>
                }
            </InputSelect>
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    <div class="form-group mb-3 row">
        <label for="memberNumber" class="col-sm-2 col-form-label">
            Member Number
        </label>
        <div class="col-sm-4">
            <InputText id="memberNumber" class="form-control" placeholder="Member Number"
                       @bind-Value="model.MemberNumber" />
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    <div class="form-group mb-3 row">
        <label for="password"p class="col-sm-2 col-form-label">
            Password
        </label>
        <div class="col-sm-4">
            <input id="password" class="form-control" type="password" placeholder="Password"
                        @bind="model.Password" />
        </div>
        <div class="col-sm-6">
        </div>
    </div>

    <div class="form-group mb-3 row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <button @onclick="LogInClick" class="btn btn-primary">Log In</button>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
    

</EditForm>