@inject Topo.Services.StorageService _storageService
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="G12-Map-icon-64.png" width="20" height="20" class="d-inline-block align-top" alt=""> <!--Icon from http://raindropmemory.deviantart.com/-->
            Topo
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		@if (!_storageService.IsAuthenticated)
		{
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="login">
					<span class="oi oi-lock-unlocked" aria-hidden="true"></span> Login
				</NavLink>
			</div>
		}
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="members">
                    <span class="oi oi-people" aria-hidden="true"></span> Members
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="program">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Program
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="oas">
                    <span class="oi oi-compass" aria-hidden="true"></span> OAS
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="sia">
                    <span class="oi oi-clipboard" aria-hidden="true"></span> SIA
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="milestone">
                    <span class="oi oi-flag" aria-hidden="true"></span> Milestone
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="logbook">
                    <span class="oi oi-book" aria-hidden="true"></span> Logbook
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="wallchart">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> Wallchart
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="awards">
                    <span class="oi oi-shield" aria-hidden="true"></span> Additional Awards
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="approvals">
                    <span class="oi oi-thumb-up" aria-hidden="true"></span> Approvals
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="logout">
                    <span class="oi oi-lock-locked" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        _storageService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _storageService.OnChange -= StateHasChanged;
    }
}
