name: Deploy to GitHub Pages

# Run workflow on every push to the master branch
on:
  push:
    branches: [ main ]

jobs:
  deploy-to-github-pages:
    # use ubuntu-latest image to run steps on
    runs-on: ubuntu-latest
    steps:
    # uses GitHub's checkout action to checkout code form the master branch
    - name: Checkout main
      uses: actions/checkout@v2
    # Install .NET SDKs
    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Setup .NET 8.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.x
    # Replace Syncfusion key
    - name: Replace Syncfusion key
      run: |
        TEMP="temp string"
        sed -i "s/__SYNCFUSION-KEY__/$TEMP/g" ./Topo/Program.cs
        cat ./Topo/Program.cs
    # publishes Blazor project to the release-folder
    - name: Publish .NET Core Project
      run: dotnet publish ./Topo/Topo.csproj -c Release -o release --nologo
    # changes the base-tag in index.html from '/' to 'Topo-Blazor' to match GitHub Pages repository subdirectory
    - name: Change base-tag in index.html from / to Topo-Blazor
      run: sed -i 's/<base href="\/" \/>/<base href="\/Topo-Blazor\/" \/>/g' release/wwwroot/index.html
    # copy index.html to 404.html to serve the same file when a file is not found
    - name: copy index.html to 404.html
      run: cp release/wwwroot/index.html release/wwwroot/404.html
    # add .nojekyll file to tell GitHub pages to not treat this as a Jekyll project. (Allow files and folders starting with an underscore)
    - name: Add .nojekyll file
      run: touch release/wwwroot/.nojekyll

    #- name: Commit wwwroot to GitHub Pages
    #  uses: JamesIves/github-pages-deploy-action@3.7.1
    #  with:
    #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #    BRANCH: gh-pages
    #    FOLDER: release/wwwroot
